fastapi==0.112.2
lancedb==0.12.0
langchain==0.2.14
langchain_community==0.2.12
langchain_openai==0.1.22
openai==1.42.0
pyarrow==17.0.0
pydantic==2.8.2
pymongo==4.8.0
python-dotenv==1.0.1
Requests==2.32.3
